@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir/Vazir-Regular-FD.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Vazir Medium';
    src: url('../fonts/Vazir/Vazir-Medium-FD.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Vazir Bold';
    src: url('../fonts/Vazir/Vazir-Bold-FD.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Vazir Light';
    src: url('../fonts/Vazir/Vazir-Light-FD.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Vazir Thin';
    src: url('../fonts/Vazir/Vazir-Thin-FD.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Vazir Black';
    src: url('../fonts/Vazir/Vazir-Black-FD.woff2') format('woff2');
  }

  /* Theme */

  :root {
    /* fuchsia-600 */
    --theme-color: #c026d3;
    /* fuchsia-700 */
    --theme-hover-bg-color: #a21caf;
    /* fuchsia-600/10 */
    --theme-color-10: rgba(192, 38, 211, 0.1);
  }

  .fuchsia:root {
    /* fuchsia-600 */
    --theme-color: #c026d3;
    /* fuchsia-700 */
    --theme-hover-bg-color: #a21caf;
    /* fuchsia-600/10 */
    --theme-color-10: rgba(192, 38, 211, 0.1);
  }
  .amber:root {
    /* amber-600 */
    --theme-color: #d97706;
    /* amber-700 */
    --theme-hover-bg-color: #b45309;
    /* amber-600/10 */
    --theme-color-10: rgba(217, 119, 6, 0.1);
  }
  .rose:root {
    /* rose-600 */
    --theme-color: #e11d48;
    /* rose-700 */
    --theme-hover-bg-color: #be123c;
    /* rose-600/10 */
    --theme-color-10: rgba(225, 29, 72, 0.1);
  }
  .violet:root {
    /* violet-600 */
    --theme-color: #7c3aed;
    /* violet-700 */
    --theme-hover-bg-color: #6d28d9;
    /* violet-600/100 */
    --theme-color-10: rgba(124, 58, 237, 0.1);
  }
  .sky:root {
    /* sky-600 */
    --theme-color: #0284c7;
    /* sky-700 */
    --theme-hover-bg-color: #0369a1;
    /* sky-600/10 */
    --theme-color-10: rgba(2, 132, 199, 0.1);
  }
  .emerald:root {
    /* emerald-600 */
    --theme-color: #059669;
    /* emerald-700 */
    --theme-hover-bg-color: #047857;
    /* emerald-600/10 */
    --theme-color-10: rgba(5, 150, 105, 0.1);
  }
  .lime:root {
    /* lime-600 */
    --theme-color: #65a30d;
    /* lime-700 */
    --theme-hover-bg-color: #4d7c0f;
    /* lime-600/10 */
    --theme-color-10: rgba(101, 163, 13, 0.1);
  }
  .dark:root {
    /* yellow-500 */
    --theme-color: #eab308;
    /* yellow-400 */
    --theme-hover-bg-color: #facc15;
    /* yellow-500/10 */
    --theme-color-10: rgba(234, 179, 8, 0.1);
  }

  .theme-bg-color {
    background-color: var(--theme-color);
  }
  .theme-text-color {
    color: var(--theme-color);
  }
  .theme-hover-bg-color {
    background-color: var(--theme-hover-bg-color);
  }
  .theme-color-10 {
    background-color: var(--theme-color-10);
  }
}
@layer components {
  .btn {
    @apply text-white py-2 px-4 rounded-full flex items-center justify-center font-VazirMedium transition-all;
  }
  .mobile-menu-submenu-open {
    @apply h-auto my-4 py-2;
  }

  .section-title {
    @apply flex justify-center items-center sm:justify-start sm:items-end gap-3 sm:gap-4 text-2xl md:text-3xl font-VazirBlack;
  }
  .section-link {
    @apply flex items-center justify-between gap-2 text-lg child:transition-all md:w-48 mt-8 sm:mt-0 text-green-500 dark:text-green-400 md:text-inherit md:dark:text-inherit md:hover:theme-text-color md:dark:hover:theme-text-color rounded-full relative;
  }

  .course-cart {
    @apply bg-white dark:bg-slate-800 shadow overflow-hidden rounded-2xl relative pb-4;
  }

  .blog-cart-link {
    @apply absolute left-0 bottom-0 pl-4 md:pl-9 pr-4 flex items-center justify-center gap-2 text-sm font-VazirBold bg-slate-100 dark:bg-slate-700 theme-text-color md:text-inherit md:hover:theme-text-color md:hover:bg-slate-200 dark:md:hover:bg-slate-600 h-9 w-auto rounded-tr-2xl;
  }
}

@layer utilities {
  .hide {
    opacity: 0;
    visibility: hidden;
  }
  .show {
    opacity: 1;
    visibility: visible;
  }
}
