@media (min-width: 1401px) {
  .container {
    width: 1370px;
  }
}

@media (max-width: 1400px) {
  .container {
    width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  /* nav bar */
  .nav-bar-menu {
    gap: 2.6rem;
    margin-right: 2.6rem;
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .nav-bar {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
